@import "../node_modules/normalize.css/normalize.css";

* {
	box-sizing: inherit;
}
html {
	box-sizing: border-box;
}
body {
	width: 100vw;
	height: 100vh;
	background: url("./img/kalipso_niz.jpg");
	background-repeat: no-repeat;
	background-size: 100%;

}

.app {
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-columns: auto;
}